* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #024959;
}
/* Heading */
h1 {
  text-decoration: underline;
  padding-left: 250px;
  font-style: italic;
  color: #f2e3d5;
  text-align: left;
  font-weight: 300;
  font-size: 45px;
}
.general-information {
  background-color:#f2e3d5;
  height: 800px;
  width: 700px ;
}

.about-me {
  background-color: #f2e3d5;
  color: #026773;
  max-width: 700px;
  height: 700px;
}

.about-me-img {
  border-radius: 10px;
  height: 300px;
  width: 210px;
}

.about-me-contacts {
  font-size: 20px;
}

.about-me-heading {
  text-decoration: none;
  font-size: 17px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #026773;
}

a:hover {
  cursor: pointer;
  color: orange;
}

